#main-container {
  min-height: 100%;
  height: auto;
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#landing {
  position: relative;
  margin: 0 0 0 0;
  background: #0E9C5C;
  background-image: linear-gradient(to bottom right, #26A386 0%, #1EC656 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "adelle-sans", sans-serif;
  padding: 0;
}

#landing .navbar {
  border-width: 0 0 1px;
  margin-bottom: 44px;
}

#landing #content {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 60px 0 60px;
  text-align: center;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
}


#landing #logo {
  margin-top: 5px;
}

#landing #top-menu li a {
  text-align: right;
  padding: 12px 15px 12px 15px;
  color: #a7f89f;
}



#landing #content h1 {
  font-family: AvenirNext-Medium,AvenirNext-Regular,Arial,sans-serif;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  text-align: center;
  margin: 0 0 0 0;
  cursor: default;
  padding: 0 0 5px 0;
}

#landing #content h2 {
  font-family: AvenirNext-Medium,AvenirNext-Regular,Arial,sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  margin: 0 0 35px 0;
  cursor: default;
}

#landing #content form {
  margin-left: 0;
  position: relative;
  left: 0;
  width: 100%;
  background: none;
  padding: 0;
  max-width: 100%;
  margin-top: 10px;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

#landing #content form input[type=text] {
  width: 220px;
  padding: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#landing #content form input[type=text] {
  padding: 20px;
  width: 350px;
  border: none;
  color: #414541;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#landing #content form button {
  background: #069552;
  color: #fff;
  letter-spacing: 0.03em;
  padding: 20px 30px;
  border-radius: 6px !important;
  border: 1px solid rgba(3,128,69,0.5);
  margin-left: -5px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0px 1px 0 0px rgba(35,195,119,0.3);
  transition: background 0.15s ease-in-out;
}

.nav>ul>li>a:focus, .nav>ul>li>a:hover {
  text-decoration: none;
  background-color: transparent; 
}

.navbar-brand>img {
  display: block;
  float: left;
}

.beta-info {
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 100;
  color: #a7f89f;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline;
  list-style: none;
  margin: 10px 0px;
}

body#landing footer ul li a {
  color: #a7f89f;
}

footer ul li a {
  text-decoration: underline;
  padding: 5px 10px;
  white-space: nowrap;
}

.navbar.switch #top-nav-collapse-button {
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}

@media only screen and (max-width: 620px){
    #landing #content {
      padding: 0 30px 30px;
    }

    #landing .navbar {
      border-width: 0 0 1px;
      margin-bottom: 5px;
    }

    #landing #content form {
      margin-top: 0;
      margin-left: 0;
      position: relative;
      left: 0;
      width: 100%;
      background: none;
      padding: 0;
    }

    #landing #content form input[type=text] {
      width: 100% !important;
      font-size: 13px;
      padding: 15px;
      display: block;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    #landing #content form button {
      font-size: 13px;
      padding: 15px;
      border-radius: 4px;
      width: 100%;
      margin-left: 0;
    }
}

@media (max-width: 767px) {
    #landing #content h1 {
      font-size: 32px;
      line-height: 40px;
    }

    #landing #content h2 {
      font-size: 20px;
      line-height: 28px;
    }

    #landing #top-nav-collapse-button span {
      background: #fff;  
    }

    #landing .nav li a {
      color: #3f93f3;
      font-size: 16px;
    }

    #landing .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background-color: transparent;
      border-color: transparent;
    }

    #landing .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle {
      background-color: transparent;
      border-color: transparent;
    }

    #landing .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border: 0;
      background-color: white;
      background: #fff;
      border-bottom: 1px solid #e1e3e3;
      box-shadow: 0 1px 2px 0 #e1e3e3;
      padding: 5px 15px;
    }

    #landing .navbar-inverse {
      background-color: transparent;
      border-color: transparent;
    }

    #landing .navbar-inverse .navbar-toggle {
      margin: 0;
      position: absolute;
      left: 10px;
      top: 10px;
      border: 0;
    }

    #landing #top-nav-collapse-button {
      margin: 0;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    .navbar-header {
      text-align: center;
    }

    #landing #logo {
      display: inline-block;
      float: none;
    }

    #landing #top-menu {
      background: #fff;
      border-bottom: 1px solid #e1e3e3;
      box-shadow: 0 1px 2px 0 #e1e3e3;
    }

    #landing #top-menu li a {
      color: #3f93f3;
      text-align:left;
      text-decoration: none;
    }
}

@media (min-width: 768px){
    .col-sm-10 {
      width: 83.33333333%;
    }

    .col-sm-offset-1 {
      margin-left: 8.33333333%;
    }
    
    .navbar {
      border-radius: 4px;
    }
    .container {
      width: 750px;
    }

    .navbar-header {
      float: left;
    }

    #landing .navbar {
      border-width: 0 0 1px;
      margin-bottom: 44px;
      background-color: transparent;
      border: 0;
    }

    #landing .navbar-right li a{
      font-size: 16px;
      text-decoration: none;
      text-align: right;
      padding: 12px 15px 12px 15px;
      color: #a7f89f;
    }
}

@media only screen and (min-width: 768px){
    #landing #content form button {
      background: #069552;
      color: #fff;
      letter-spacing: 0.03em;
      padding: 20px 30px;
      border: 1px solid rgba(3,128,69,0.5);
      margin-left: 0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0px 1px 0 0px rgba(35,195,119,0.3);
      transition: background 0.15s ease-in-out;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: auto !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    #landing #content form {
      margin-left: 0;
      position: relative;
      left: 0;
      width: 100%;
      background: none;
      padding: 0;
    }

    #landing #content form input[type=text] {
      width: 220px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    #landing #content form button {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
}
@media (min-width: 992px){
    .container {
      width: 970px;
    }
}


@media only screen and (min-width: 1000px){
    #landing #content form button {
      background: #069552;
      color: #fff;
      letter-spacing: 0.03em;
      padding: 20px 30px;
      border: 1px solid rgba(3,128,69,0.5);
      margin-left: 0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2), inset 0px 1px 0 0px rgba(35,195,119,0.3);
      transition: background 0.15s ease-in-out;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: auto !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }

    #landing #content form {
      margin-left: 0;
      position: relative;
      left: 0;
      width: 100%;
      background: none;
      padding: 0;
    }

    #landing #content form input[type=text] {
      width: 350px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    #landing #content form button {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
}

.recovery-link { 
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 10px;
  right: 0;
  text-align: left;
  margin: 10px 10px 0 0;
  cursor: pointer;
  color: #333;
}

.success {
  color: #5cb85c;
  font-size: 16px;
  display:block;
  text-align: center;
}

.error {
  color: red;
}

.panel-footer {
  height: 50px;
}

.survey-nav-prev-btn {
  display: inline-block;
  border: 0;
  box-shadow: none;
}

.survey-nav-next-btn {
  display: inline-block;
  float: right;
  margin-right: 5px;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.progress {
  width: 100% !important;
}

.modal-open .modal {
  background-color: rgba(0,0,0, 0.4);
}

.static {
  text-align: justify
}

.static h1 {
  margin: 10px 0 20px 0;
  text-align: center;
  font-size: 26px
}

.static h2.tagline {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px
}

.static h3 {
  margin-bottom: 0
}

.static p {
  padding: 15px 0;
  font-size: 16px;
  line-height: 22px
}

.static a {
  font-size: 16px;
  line-height: 22px
}

.static .underline {
  text-decoration: underline
}

.static .dot:after {
  content: '.'
}

.static ul,.static ol {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  list-style-position: inside
}

.static ul.indent,.static ol.indent {
  margin-left: 30px
}

.static ul.list-style-outside,.static ol.list-style-outside {
  list-style-position: outside
}

.static ul.letters,.static ol.letters {
  list-style: lower-alpha
}

.static ul li,.static ol li {
  padding: 10px 0
}

.static-page {
  background-color: #ffffff;
}

.footer {
  position: fixed;
  bottom: 10px;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.survey-nav-complete-btn {
  float: right;
  display: inline-block;
}