.survey-input-text{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c8c8cd;
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 6px 15px;
  margin: 0;
  width: 100%;
  height: 40px;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  resize: none;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.survey-question-title {
  font-size: 16px;
}

.survey-button {
  border: 1px solid #0e9c5c;;
  color: #0e9c5c;;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 17px 25px;
  line-height: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  margin: 0;
  height: 29px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  outline: 0;
}

.sv_nav {
    height: 40px;
}

.survey-progress-bar {
  width: 100% !important;
}

.survey-nav-complete-btn {
  float: right;
  display: inline-block;
}

.survey-nav-prev-btn {
  display: inline-block;
}

.survey-nav-next-btn {
  display: inline-block;
  float: right;
}

.survey-progress {
  margin-top: 0;
}

.survey-progress-bar{
  margin: 20px 0;
  font-weight: bold;
}

.survey-radiogroup-item {
  margin: 5px 0;
}

.is-landscape {
  position: fixed;
  top:0;
  height: 100%;
  width:100%;
  z-index: 10000;
  background-color: rgba(0,0,0, 0.5);
  text-align: center;
  vertical-align: middle;
  visibility: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landscape-active {
  visibility: visible;
}

.is-landscape span {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.report-message-success {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  width: 100%;
  display: block;
}

.empty-list {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin-top: 100px;
}

.success {
    color: #339b33;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.low-balance {
    font-size: 16px;
    padding: 50px 0;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 500;
}

.upload-avater {
    width: 100%;
    display: block;
    text-align: center;
    color: #0e9c5c;
}

.upload-avater i {
    margin: 0 0 0 10px;
}


/* Framework 7 */

.color-custom {
  color: #0e9c5c;
}
.list-block .item-link.list-button.color-custom,
.tabbar a.active.color-custom,
a.color-custom {
  color: #0e9c5c;
}
.label-switch input[type="checkbox"]:checked + .checkbox.color-custom,
.label-switch.color-custom input[type="checkbox"]:checked + .checkbox {
  background-color: #0e9c5c;
}
.color-custom.button:not(.button-fill),
.color-custom.buttons-row .button,
.theme-custom .button:not(.button-fill) {
  border-color: #0e9c5c;
}
html:not(.watch-active-state) .color-custom.button:not(.button-fill):active,
html:not(.watch-active-state) .color-custom.buttons-row .button:active,
html:not(.watch-active-state) .theme-custom .button:not(.button-fill):active,
.color-custom.button:not(.button-fill).active-state,
.color-custom.buttons-row .button.active-state,
.theme-custom .button:not(.button-fill).active-state {
  background-color: rgba(255, 59, 48, 0.15);
}
.color-custom.button:not(.button-fill).active,
.color-custom.buttons-row .button.active,
.theme-custom .button:not(.button-fill).active {
  background-color: #0e9c5c;
  color: #fff;
}
.theme-custom .button.button-fill,
.button.button-fill.color-custom {
  background: #0e9c5c;
  color: #fff;
}
.progressbar.color-custom span,
.progressbar.theme-custom span,
.theme-custom .progressbar span,
.progressbar.bg-custom span {
  background-color: #0e9c5c;
}
.progressbar-infinite.color-custom:before,
.progressbar-infinite.theme-custom:before,
.theme-custom .progressbar-infinite:before,
.progressbar-infinite.bg-custom:before {
  background-color: #0e9c5c;
}
.color-custom i.icon,
.theme-custom i.icon,
i.icon.color-custom,
i.icon.theme-custom {
  color: #0e9c5c;
}
i.icon-next.color-custom,
i.icon-next.theme-custom,
.theme-custom i.icon-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23fff'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important;
}
i.icon-prev.color-custom,
i.icon-prev.theme-custom,
.theme-custom i.icon-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23fff'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important;
}
i.icon-back.color-custom,
i.icon-back.theme-custom,
.theme-custom i.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E") !important;
}
i.icon-forward.color-custom,
i.icon-forward.theme-custom,
.theme-custom i.icon-forward {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E") !important;
}
i.icon-bars.color-custom,
i.icon-bars.theme-custom,
.theme-custom i.icon-bars {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23fff'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E") !important;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  i.icon-bars.color-custom,
  i.icon-bars.theme-custom,
  .theme-custom i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23fff'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E") !important;
  }
}
.theme-custom a,
.theme-custom .item-link.list-button {
  color: #0e9c5c;
}
.theme-custom .tabbar a,
.tabbar.theme-custom a,
.theme-custom .tabbar a i,
.tabbar.theme-custom a i {
  color: inherit;
}
.theme-custom .tabbar a.active,
.tabbar.theme-custom a.active,
.theme-custom .tabbar a.active i,
.tabbar.theme-custom a.active i {
  color: #0e9c5c;
}
.theme-custom .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-custom input[type="range"]::-webkit-slider-thumb:before {
  background-color: #0e9c5c;
}
.theme-custom .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-custom input[type="range"]::-ms-fill-lower {
  background-color: #0e9c5c;
}
.theme-custom label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-custom label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
  background-color: #0e9c5c;
}
.theme-custom label.label-radio input[type="checkbox"]:checked ~ .item-inner,
.theme-custom label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23fff'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E") !important;
}
.theme-custom .picker-calendar-day.picker-calendar-day-selected span {
  background-color: #0e9c5c !important;
}
.swiper-pagination.color-custom .swiper-pagination-bullet-active,
.theme-custom .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0e9c5c;
}
.swiper-pagination.color-custom .swiper-pagination-progressbar,
.theme-custom .swiper-pagination .swiper-pagination-progressbar {
  background-color: #0e9c5c;
}
.swiper-pagination.swiper-pagination-progress.bg-custom {
  background-color: rgba(255, 59, 48, 0.25);
}
.swiper-button-next.color-custom,
.swiper-container-rtl .swiper-button-prev.color-custom,
.theme-custom .swiper-button-next,
.theme-custom .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")!important;
}
.swiper-button-prev.color-custom,
.swiper-container-rtl .swiper-button-next.color-custom,
.theme-custom .swiper-button-prev,
.theme-custom .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E")!important;
}
.bg-custom,
.button.button-fill.bg-custom,
a.bg-custom,
.list-block .swipeout-actions-left a.bg-custom,
.list-block .swipeout-actions-right a.bg-custom {
  background-color: #0e9c5c;
}
.border-custom {
  border-color: #0e9c5c;
}
.list-block .border-custom.item-inner:after,
.list-block ul.border-custom:after,
.border-custom:after,
.list-block .border-custom.item-inner:before,
.list-block ul.border-custom:before,
.border-custom:before {
  background-color: #0e9c5c;
}
.badge.color-custom,
.badge.theme-custom {
  background-color: #0e9c5c;
  color: #fff;
}

.back {
  color: #fff !important;
}

.right .link {
  color: #fff !important;
}

.navbar {
  background: #0e9c5c !important;
  color: #fff;
}

.add-profile-picture-button {
  margin: 30px auto !important;
  width: 70%;
  height: 40px !important;
  font-size: 16px !important;
  line-height: 38px !important;
}

.chat-icon {
  height: 30px;
  width: 30px;
}
.chat-icon img {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.request-background {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 99999;
}

.description-container {
  float: left;
  padding: 5px;
  width: 100%;
}

.description-container .label {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  float: left;
  text-transform: capitalize;
}

.description-container .value {
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
  float: left;
  font-style: italic;
  padding: 0 15px;
}

.request-creation-date {
  font-size: 12px;
  text-align: right;
  display: block;
}

.request-link {
  display: block;
  width: 100%;
}

.request-link .col-auto {
  color: #000;
}

.fast-question-button {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 10%;
  height: 40px;
  display: block;
  z-index: 999;
}

.fast-question-button i
{
  font-size: 30px;
  padding: 0px 10px;
}

.upload-image {
  bottom: -2px;
  position: fixed;
  left: 12%;
  width: 10%;
  height: 40px;
  display: block;
  z-index: 999;
}

.upload-image-center {
  left: 8%;
  bottom: -4px;
}

.fast-questions-container {
  width: 100%;
  bottom: 93px;
  height: 0;
  display: block;
  z-index: 10000;
  position: fixed;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
  visibility: collapse;
}
.fast-questions-container .fast-questions-content {
  overflow: auto;
  display: block;
  position: relative; 
  height: 100%;
  border-top: 1px solid #e6e6e6;
  background-color: #f7f7f7;
}

.active-fast-question {
  height: 150px;
  visibility: visible;
}

.tooltip-fast-question {
  height: 40px;
  line-height: 40px;
  width: auto;
  padding: 0 10px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 3px;
  margin: 5px;
  font-size: 12px;
}

.fast-questions-content .title {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  color: #4c4c4c;
  font-weight: 400;
}

.fast-questions-content .question {
  font-size: 14px;
  color: #000;
  display: block;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  color: #0e9c5c;
  cursor: pointer;
}

.request-complete {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: collapse;
}

.map-container {
  display: block;
  height: 76%;
  position: relative;
}

.map {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
}

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.pac-container {
  z-index: 999999;
  width: 100%!important;
}

.radius {
  width: 20%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  color: #000;
  text-align: center;
}

.centerMarker{
  position:absolute;
  /*url of the marker*/
  background:url(https://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  /*center the marker*/
  top:50%;left:50%;
  z-index:99999;
  /*fix offset when needed*/
  margin-left:-10px;
  margin-top:-34px;
  /*size of the image*/
  height:34px;
  width:20px;
  cursor:pointer;
}

.messages-content {
  position: static !important;
}

.first-to-respond {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 15px;
  font-size: 14px;
  color: #0e9c5c;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  height: 28px;
  width: 28px;
  position: relative;
  background:  #0e9c5c!important;
  border-radius: 25px;
}