<div id="login">
  <form action="<%= admin_login_path %>" method="POST" style="margin: 0 auto; width:250px;">
    Email:<br>
    <input type="text" name="login[email]" value="<%= @email %>">
    <br>
    Password:<br>
    <input type="password" name="login[password]">
    <br><br>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="submit" value="Login">
  </form>
</div>
